@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  color: #333;
  font-family: "Open Sans", Helvetica;
  margin: 20px;
}

.top {
  width: 90%;
  max-width: 960px;
  height: 2250px;
  margin: auto;
  position: relative;
}

.lines {
  height: 100%;
  position: relative;
  top: 75;
}
.line {
  list-style: none;
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(230,230,230, 0.6);
}

.l--0 {
  left: 0;
}
.l--10 {
  left: 17%;
}
.l--20 {
  left: 34%;
}
.l--30 {
  left: 51%;
}
.l--40 {
  left: 68%;
}
.l--50 {
  left: 85%;
}

.line-label {
  display: block;
  width: 100px;
  text-align: center;

  position: absolute;
  bottom: -20px;
  right: -50px;
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart {
  margin: 30px 0 0;
}

.chart &:first-child {
  margin: 0;
}

.chart h2 {
  margin: 0 0 10px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}

.chart-horiz {
  overflow: hidden;
  padding: 0;
}

.chart-bar {
  height: 30px;
  margin-bottom: 10px;
  list-style: none;

  background: #009f77;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}

.chart-label {
  padding-left: 10px;
  line-height: 30px;
  color: #200a74;

}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
